<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elexlab.myalbum">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">


        <receiver
            android:name=".scanners.MediaReceiver"
            android:enabled="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <action android:name="com.android.camera.NEW_PICTURE" />/>
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.hardware.action.NEW_VIDEO" />
                <action android:name="com.android.camera.NEW_VIDEO" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </receiver>
    </application>
</manifest>